.component-button {
    width: 100%;
    padding: 2%;
    background: #A67244;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.component-button:hover {
  color: #ffffff;
}